
/* App
.App {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 1024px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

*/