/* header */

.header{
    --z-index: 3;
    background-color: transparent;
    height: 78px;
    left: 0px;
    opacity: 1;
    position: fixed;
    top: 0px;
    width: 100%;
}

.header .logo {
    --z-index: 2;
    background-color: transparent;
    /*background-image: url(./0755.gif);*/
    background-size: 100% 100%;
    height: 52px;
    left: calc(50.00% - 74px);
    mix-blend-mode: normal;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    width: 144px;
}
.header .header-back{
    --z-index: 0;
    background-color: transparent;
    height: 70px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0px;
}
.header .header-bottom {
    --z-index: 0;
    background-color: #2a2e2f;
    height: 8px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 70px;
    width: 100%;
}